.cloud-space-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.cloud-space {
	padding: 1.5em;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.header {
	width: 100%;
	padding: 0.75em 0;
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.vue-manager {
	margin-bottom: 1.5em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& .options {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: center;

		& > span {
			font-size: 1.15em;
			display: flex;
			gap: 0.25em;
			align-items: center;
		}
	}
}
